body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

section{
    height: 500px;
    padding-bottom:100px;
}

h1{
    font-size: 40px;
}
p{
    color: darkgray;
}
/* Top Section Start Here */

.orange{ color: orange;}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;

}

.half-width img { width: 100%;}

.link{
    text-decoration: none;
    /* background-color: orange; */
    padding: 7px 13px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon, orange);
}

.top-section{
    background-image: url("Project\ Background\ File/Background Image/top-banner.png");
    background-repeat: no-repeat;
}
/* Top Section End Here */

/* Dream Section Start Here */

h2{
    font-size: 35px;
}

.dream-section{
    background-image: url("Project\ Background\ File/Background Image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
/* Dream Section End Here */

/* Experience Section Start Here */

.experience-section{
    background-image: url("Project\ Background\ File/Background Image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.single-ex{
    box-shadow: 10px 20px 40px gray;
    height:65%;
    background-color: white;
}

#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}

#baby-web{
    border-left: 5px solid ;
    border-image: linear-gradient(180deg, lightsalmon, orange );
    border-image-slice: 1;
}

/* Experience Section End Here */

footer p{ text-align: center;}